*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  /* 1rem=10px */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  box-sizing: inherit;
}

.t-center {
  text-align: center;
}
.pt-20 {
  padding-top: 20rem;
}
